*{
  margin:0;
  padding :0;
  box-sizing: border-box;
}
body {
  background: url(../images/background.jpg);
  background-size: cover;
display: grid;
grid-template-columns: 20vw 80vw;
grid-template-rows: 20vh 80vh;
color: white;
}

header{
  grid-column:1/3;
grid-row: 1/2;
}
nav{
  grid-column: 1/2;
  grid-row: 2/3;

}
main {
  grid-column: 2/3;
  grid-row: 2/3;
}
